.file-selector {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
}

.btn:hover {
    background-color: #0056b3;
}