<div class="page">
  <!-- Row 1 -->
  <div class="row top">
    <div class="box one">
      <button [size]="'large'" class="prevStep" kendoButton (click)="prevStep()"
        [disabled]="currentStep === 0">Back</button>
    </div>
    <div class="box two">
      <kendo-breadcrumb [items]="selections"></kendo-breadcrumb>
    </div>
    <div class="box three">
      <kendo-stepper [(currentStep)]="currentStep" [steps]="steps"></kendo-stepper>
    </div>
    <div class="box four">
      <button [size]="'large'" class="nextStep" kendoButton (click)="nextStep()" [disabled]="isNextDisabled"
        themeColor="primary">{{nextText()}}</button>
    </div>
  </div>

  <!-- Row 2 -->
  <div class="row bottom">
    <ng-container *ngIf="currentStep === 0">
      <div class="box five" [formGroup]="step0Form">
        <div class="step1">
          <header class="header">
            <h3>Step 1: Data și unitate de productie</h3>
          </header>

          <div class="body-step1">
            <aside class="left-step1">
              <div class="item location">
                <kendo-formfield showErrors="initial">
                  <kendo-label [for]="ddloc" text="Unitatea de productie"></kendo-label>
                  <kendo-dropdownlist #ddloc name="location" [data]="locations$ | async" textField="name"
                    valueField="db_id" formControlName="selectedLocation" required
                    (valueChange)="valueChangeLocation($event)">
                  </kendo-dropdownlist>
                  <kendo-formerror>Selectati unitatea de productie</kendo-formerror>
                </kendo-formfield>
              </div>

              <div class="item for-date">
                <kendo-formfield>
                  <kendo-label [for]="date" text="Data"></kendo-label>
                  <kendo-calendar #date name="date" formControlName="date" required type="classic"
                    (valueChange)="onChangeDate($event)" (navigate)="onNavigate($event)"
                    (activeViewChange)="onActiveDateChange($event)" (activeDateChange)="onActiveDateChange($event)">
                    <ng-template kendoCalendarCellTemplate let-cellContext="cellContext">
                      <span class="k-link" [ngClass]="{'day-highlighted': isInUniqueDates(cellContext.value)}">
                        {{ cellContext.value.getDate() }}
                      </span>
                    </ng-template>
                  </kendo-calendar>
                  <kendo-formerror>Selectati data</kendo-formerror>
                </kendo-formfield>
              </div>
            </aside>

            <main class="right-step1">
              <kendo-label text="Date"></kendo-label>
              <app-dashboard-grid class="grid-fill" [data]="dashboard_data" [fromDate]="selectedDate" [loading]="loadingDashboard"
                [toDate]="selectedDate" [entityId]="selectedLocationId" [alertDays]="1"> </app-dashboard-grid>
            </main>
          </div>
        </div>


      </div>
    </ng-container>
    <ng-container *ngIf="currentStep === 1">
      <div class="box five">
        <div class="step1">
          <header class="header">
            <h3>Step 2: Preluare date</h3>
          </header>
          <div class="body-step1">
            <kendo-tabstrip>
              <kendo-tabstrip-tab title="Date" [selected]="true">
                <ng-template kendoTabContent>
                  <kendo-grid class="grid-fill" [kendoGridBinding]="gridData" [pageSize]="96" [pageable]="true"
                    [sortable]="true" [filterable]="true" [resizable]="true">
                    <kendo-grid-column field="datetime" title="Data / ora" [width]="200" filter="date"
                      format="{0:yyyy-MM-dd HH:mm}">
                      <ng-template kendoGridCellTemplate let-dataItem>
                        {{ dataItem.datetime | date:'yyyy-MM-dd HH:mm' }}
                      </ng-template>
                      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <kendo-datetimepicker [value]="filter?.filters?.[0]?.value"
                          (valueChange)="onDateTimeFilterChange($event, filter, column.field)"
                          format="yyyy-MM-dd HH:mm">
                        </kendo-datetimepicker>
                      </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column field="source" title="Furnizor date"></kendo-grid-column>
                    <kendo-grid-column field="type" title="Tip data"></kendo-grid-column>
                    <kendo-grid-column field="value" title="Value"></kendo-grid-column>
                    <kendo-grid-column field="time_added" title="Data / ora import" [width]="200" filter="date"
                      format="{0:yyyy-MM-dd HH:mm}">
                      <ng-template kendoGridCellTemplate let-dataItem>
                        {{ dataItem.time_added | date:'yyyy-MM-dd HH:mm' }}
                      </ng-template>
                    </kendo-grid-column>
                  </kendo-grid>
                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab title="Pluginuri">
                <ng-template kendoTabContent>
                  <kendo-grid class="grid-fill" [data]="imports$ | async" [pageSize]="10" [pageable]="false"
                    [sortable]="false" [filterable]="false" [groupable]="false">
                    <kendo-grid-column field="plugin_name" title="Plugin" [width]="80"></kendo-grid-column>
                    <kendo-grid-column field="file_name" title="Fisier" [width]="140"></kendo-grid-column>
                    <kendo-grid-column field="status" title="Status" [width]="80"></kendo-grid-column>
                    <kendo-grid-column field="num_records" title="Records" [width]="80"></kendo-grid-column>
                    <kendo-grid-column field="errors" title="Erori" [width]="100"></kendo-grid-column>
                    <kendo-grid-messages noRecords="Nu exista importuri pentru data si locatia selectata">
                    </kendo-grid-messages>
                  </kendo-grid>
                </ng-template>
              </kendo-tabstrip-tab>
            </kendo-tabstrip>
          </div>

        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="currentStep === 2">
      <div class="box five">
        <div class="step1">
          <header class="header">
            <h3>Step 3: Prelucrare</h3>
          </header>
          <div class="body-step3">
            <div class="select-processing-layout">
              <kendo-label text="Macheta prelucrare"></kendo-label>
              <kendo-dropdownlist #ddl2 name="dataProcessingLayouts2" [data]="dataProcessingLayouts$ | async"
                textField="name" valueField="db_id" [(ngModel)]="model.selectedDataPrecessingLayout" required
                (valueChange)="machetaValueChange($event)">
              </kendo-dropdownlist>             
            </div>
            <div class="spreadsheet-data">
              <div class="k-loading-panel" *ngIf="loading">
                <div class="k-loading-panel-mask"></div>
                <div class="k-loading-panel-wrapper">
                  <kendo-loader type="infinite-spinner" themeColor="primary" size="large"></kendo-loader>
                  <div class="k-loading-panel-text">Loading data ...</div>
                </div>
              </div>
              <kendo-spreadsheet #spreadsheetRef class="spreadsheet-fill"> </kendo-spreadsheet>
            </div>
            <div kendoDialogContainer></div>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
</div>