<div class="row mt-3">
      <div class="col-md-7">
        <div class="card p-3 shadow-sm">
          <h5 class="border-bottom pb-2 mb-3">Formly Preview</h5>
          <form [formGroup]="form">
            <formly-form 
              [form]="form" 
              [fields]="fields" 
              [model]="model">
            </formly-form>
          </form>
        </div>
      </div>
      <div class="col-md-5">
        <div class="bg-dark text-success p-3 rounded" style="min-height: 200px;">
          <h5 class="text-white border-bottom pb-2">Model Output</h5>
          <pre class="m-0">{{ model | json }}</pre>
        </div>
      </div>
    </div>