/* You can add global styles to this file, and also import other style files */
// @use "@progress/kendo-theme-material/scss/all.scss"as *;
// @use "@progress/kendo-theme-default/scss/all.scss"as *;
// @use '@progress/kendo-font-icons/dist/index.css' as *;
// Import the entire theme
@use "@progress/kendo-theme-default/scss/all.scss"as *;
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';
@import 'swiper/swiper-bundle.css';

body {
  font-family: "RobotoRegular", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --ion-font-family: "RobotoRegular", Helvetica, Arial, sans-serif;
  --ion-color-primary: #2e782e;
  --ion-color-primary-rgb: 46, 120, 46;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #296c29;
  --ion-color-primary-tint: #428542;
  --ion-color-secondary: #659c65;
  --ion-color-secondary-rgb: 101, 156, 101;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #5a8c5a;
  --ion-color-secondary-tint: #74a574;
  --ion-color-tertiary: #cbddcb;
  --ion-color-tertiary-rgb: 203, 221, 203;
  --ion-color-tertiary-contrast: #1e4e1e;
  --ion-color-tertiary-contrast-rgb: 30, 78, 30;
  --ion-color-tertiary-shade: #b6c6b6;
  --ion-color-tertiary-tint: #d0e0d0;
  --ion-color-dark: #1e4e1e;
  --ion-color-dark-rgb: 30, 78, 30;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1b461b;
  --ion-color-dark-tint: #345f34;
  --ion-background-color: #ffffff;
  --ion-text-color: #1e4e1e;
  --ion-card-background: #ffffff;
  --ion-item-background: #ffffff;
}

html,
body,
app-root {
  padding: 0;
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}

//   app-root {
//     display: block;
//     box-sizing: border-box;
//     padding: 30px;
//   }

app-root>.k-icon.k-i-loading {
  font-size: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example-wrapper {
  min-height: 280px;
  align-content: flex-start;
}

.example-wrapper p,
.example-col p {
  margin: 0 0 10px;
}

.example-wrapper p:first-child,
.example-col p:first-child {
  margin-top: 0;
}

.example-col {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  padding-bottom: 20px;
}

.example-config {
  margin: 0 0 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.event-log {
  margin: 0;
  padding: 0;
  max-height: 100px;
  overflow-y: auto;
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.event-log li {
  margin: 0;
  padding: 0.3em;
  line-height: 1.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.event-log li:last-child {
  margin-bottom: -1px;
}

html,
body,
rdict-full {
  padding: 0;
  height: 100%;
}

rdict-full {
  display: flex;
  flex-direction: column;
}

kendo-drawer-container {
  flex: 1 1 auto;
  overflow-y: auto;
}

.k-icon {
  font-size: 20px;
}

.custom-toolbar {
  width: 100%;
  background-color: #f6f6f6;
  line-height: 10px;
  border-bottom: inset;
  border-bottom-width: 1px;
  // padding: 3px 0 3px 8px;
  color: #656565;
}

.app-title {
  margin-left: 20px;
  font-weight: bold;
  font-size: 17px;
}

.example-wrapper {
  min-height: 280px;
  align-content: flex-start;
  padding: 20px;
}

.example-wrapper p,
.example-col p {
  margin: 0 0 10px;
}

.example-wrapper p:first-child,
.example-col p:first-child {
  margin-top: 0;
}

.example-col {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  padding-bottom: 20px;
}

.example-config {
  margin: 0 0 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.event-log {
  margin: 0;
  padding: 0;
  max-height: 100px;
  overflow-y: auto;
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.event-log li {
  margin: 0;
  padding: 0.3em;
  line-height: 1.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.event-log li:last-child {
  margin-bottom: -1px;
}

.k-grid {
  height: 100%;
}

kendo-drawer-content {
  height: 100%;
  // background-color: lavenderblush;
}

rsl-rdict-generic-table {
  display: block;
  height: 100%;
}

app-data-scheduler,
kendo-scheduler.k-scheduler {
  height: 100%;
  display: block;
  overflow: hidden;
}

multi-day-view {
  height: calc(100% - 47px);
  display: block;
  overflow: scroll;
}

.name {
  // border: 1px solid green;
}

.theEntireSplitter {
  // border: 1px solid brown;
}

app-rdict-crud {
  height: calc(100% - 47px) !important;

  kendo-splitter {
    height: 100%;
  }

  .k-spreadsheet {
    height: 100%;
  }

  .pane-content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}
