<kendo-splitter orientation="vertical">
  <kendo-splitter-pane>
    <div class="spreadsheet-container">
      @if (loading) {
        <div class="k-loading-panel">
          <div class="k-loading-panel-mask"></div>
          <div class="k-loading-panel-wrapper">
            <kendo-loader type="infinite-spinner" themeColor="primary" size="large"></kendo-loader>
            <div class="k-loading-panel-text">Loading data ...</div>
          </div>
        </div>
      }
      <kendo-spreadsheet #spreadsheetRef [formlyAttributes]="field" (change)="spreadsheetChange($event)" (excelImport)="excelImport($event)" [sheets]="data"> </kendo-spreadsheet>
    </div>
  </kendo-splitter-pane>
  <kendo-splitter-pane>
    <div class="spreadsheet-container">
      @for (f of field.fieldGroup; track f) {
        @if (f.key === 'mapping') {
          <formly-field [field]="f"></formly-field>
        }
      }
    </div>
  </kendo-splitter-pane>
</kendo-splitter>
