.mat-tab-body-wrapper {
  height: 100% !important;
}

.table-container {
  height: 100% !important;
}

.table-tab-content {
  height: 100% !important;
  margin: 5px;
}

.mat-tab-group {
  height: calc(100% - 45px) !important;
}

ion-icon {
  cursor: pointer;
}